.container {
  text-align: left;
  width: 600px;
  max-width: 90%;
  background-color: pink;
  margin: 0 auto;
  font-size: 1em;
  line-height: 1.5;
  padding: 1.5% 0.5% 2% 3%;
  font: Raleway;
}

#title,
#description {
  text-align: center;
  line-height: 1.2;
  font-weight: bold;
}

#hobbies {
  margin-bottom: 2%;
}

#emotion-label {
  margin-top: 2%;
  float: left;
}

#text {
  width: 60%;
  margin-bottom: 2%;
}

#submit {
  background-color: white;
  cursor: pointer;
  display: block;
  margin: 0 auto;
  width: 55%;
  padding: 0.75rem;
  border-radius: 0.5em;
}

.situation {
  display: inline;
  /*   flex-direction: column; */
}

input {
  margin-top: 10px;
  margin-bottom: 10px;
}